
{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block main %}

<div class="container">
{% if title %}
file {{title}} uploaded! 
{% endif %}
</div>
<div class="container">
    <h1>Add New Profile</h1>
 <form action="{{ url_for('add_entry') }}" method="post" enctype="multipart/form-data" class="add-entry">      
 <dl> 
<dt>Profile Picture name: 
<dd><input type="text" size="30" name="title"> 
<dt>Text:         
<dd><input type="file" name="image">       
<dt>Username</dt>
<dd><input type="text" size="45" name="username"/></dd>
<dt>FirstName</dt>
<dd><input type="text" size="40" name="firstname"/></dd>
<dt>LastName</dt>
<dd><input type="text" size="40" name="lastname"/></dd>
<dt>Age</dt>
<dd><input type="text" name="age"/></dd>
<dt>Sex</dt>
<dd><input type="radio" name="gender" value="male"> Male<br>
  <input type="radio" name="gender" value="female"> Female<br></dd>
 <dd><input type="submit" value="Save"> </dl> 
</form>
</div>
{% endblock %}